<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" 
	xmlns="http://java.sun.com/xml/ns/javaee" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
	http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
  <display-name></display-name>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>cn.edu.sdust.login.LoginServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>CareerFairServlet</servlet-name>
    <servlet-class>cn.edu.sdust.careerfair.CareerFairServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>MajorServlet</servlet-name>
    <servlet-class>cn.edu.sdust.major.MajorServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>StudentRegisterServlet</servlet-name>
    <servlet-class>cn.edu.sdust.register.StudentRegisterServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>EnterpriseRegisterServlet</servlet-name>
    <servlet-class>cn.edu.sdust.register.EnterpriseRegisterServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>DataServlet</servlet-name>
    <servlet-class>cn.edu.sdust.data.DataServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>DynamicServlet</servlet-name>
    <servlet-class>cn.edu.sdust.dynamic.DynamicServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>LocalityServlet</servlet-name>
    <servlet-class>cn.edu.sdust.locality.LocalityServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>NoticeServlet</servlet-name>
    <servlet-class>cn.edu.sdust.notice.NoticeServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>OfficeBearerServlet</servlet-name>
    <servlet-class>cn.edu.sdust.officebearer.OfficeBearerServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>PolicyServlet</servlet-name>
    <servlet-class>cn.edu.sdust.policy.PolicyServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>ProcessServlet</servlet-name>
    <servlet-class>cn.edu.sdust.process.ProcessServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>SkillServlet</servlet-name>
    <servlet-class>cn.edu.sdust.skill.SkillServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>RecruitmentServlet</servlet-name>
    <servlet-class>cn.edu.sdust.recruitment.RecruitmentServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>ResumeServlet</servlet-name>
    <servlet-class>cn.edu.sdust.resume.ResumeServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>VerifyServlet</servlet-name>
    <servlet-class>cn.edu.sdust.verify.VerifyServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>FileQueryServlet</servlet-name>
    <servlet-class>cn.edu.sdust.filequery.FileQueryServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>IndexServlet</servlet-name>
    <servlet-class>cn.edu.sdust.index.IndexServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>ExitServlet</servlet-name>
    <servlet-class>cn.edu.sdust.login.ExitServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>EnterSearchServlet</servlet-name>
    <servlet-class>cn.edu.sdust.enterprise.EnterSearchServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>CheckStudentUserNameServlet</servlet-name>
    <servlet-class>cn.edu.sdust.register.CheckStudentUserNameServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>CheckEnUserNameServlet</servlet-name>
    <servlet-class>cn.edu.sdust.register.CheckEnUserNameServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>UpdatePassServlet</servlet-name>
    <servlet-class>cn.edu.sdust.login.UpdatePassServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>AddRecruitmentServlet</servlet-name>
    <servlet-class>cn.edu.sdust.recruitment.AddRecruitmentServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>AddResumeServlet</servlet-name>
    <servlet-class>cn.edu.sdust.resume.AddResumeServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>WriteResumeServlet</servlet-name>
    <servlet-class>cn.edu.sdust.resume.WriteResumeServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>UpdateResumeServlet</servlet-name>
    <servlet-class>cn.edu.sdust.resume.UpdateResumeServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>GetResumeInfoServlet</servlet-name>
    <servlet-class>cn.edu.sdust.resume.GetResumeInfoServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>MakeCertPic</servlet-name>
    <servlet-class>cn.edu.sdust.login.MakeCertPic</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>UpdateRegisterServlet</servlet-name>
    <servlet-class>cn.edu.sdust.login.UpdateRegisterServlet</servlet-class>
  </servlet>







  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/servlet/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>CareerFairServlet</servlet-name>
    <url-pattern>/servlet/CareerFairServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>MajorServlet</servlet-name>
    <url-pattern>/servlet/MajorServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>StudentRegisterServlet</servlet-name>
    <url-pattern>/servlet/StudentRegisterServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>EnterpriseRegisterServlet</servlet-name>
    <url-pattern>/servlet/EnterpriseRegisterServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DataServlet</servlet-name>
    <url-pattern>/servlet/DataServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DynamicServlet</servlet-name>
    <url-pattern>/servlet/DynamicServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>LocalityServlet</servlet-name>
    <url-pattern>/servlet/LocalityServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>NoticeServlet</servlet-name>
    <url-pattern>/servlet/NoticeServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>OfficeBearerServlet</servlet-name>
    <url-pattern>/servlet/OfficeBearerServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>PolicyServlet</servlet-name>
    <url-pattern>/servlet/PolicyServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ProcessServlet</servlet-name>
    <url-pattern>/servlet/ProcessServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SkillServlet</servlet-name>
    <url-pattern>/servlet/SkillServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>RecruitmentServlet</servlet-name>
    <url-pattern>/servlet/RecruitmentServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ResumeServlet</servlet-name>
    <url-pattern>/servlet/ResumeServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>VerifyServlet</servlet-name>
    <url-pattern>/servlet/VerifyServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>FileQueryServlet</servlet-name>
    <url-pattern>/servlet/FileQueryServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>IndexServlet</servlet-name>
    <url-pattern>/servlet/IndexServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ExitServlet</servlet-name>
    <url-pattern>/servlet/ExitServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>EnterSearchServlet</servlet-name>
    <url-pattern>/servlet/EnterSearchServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>CheckStudentUserNameServlet</servlet-name>
    <url-pattern>/servlet/CheckStudentUserNameServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>CheckEnUserNameServlet</servlet-name>
    <url-pattern>/servlet/CheckEnUserNameServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UpdatePassServlet</servlet-name>
    <url-pattern>/servlet/UpdatePassServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AddRecruitmentServlet</servlet-name>
    <url-pattern>/servlet/AddRecruitmentServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AddResumeServlet</servlet-name>
    <url-pattern>/servlet/AddResumeServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>WriteResumeServlet</servlet-name>
    <url-pattern>/servlet/WriteResumeServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UpdateResumeServlet</servlet-name>
    <url-pattern>/servlet/UpdateResumeServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>GetResumeInfoServlet</servlet-name>
    <url-pattern>/servlet/GetResumeInfoServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>MakeCertPic</servlet-name>
    <url-pattern>/servlet/MakeCertPic</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UpdateRegisterServlet</servlet-name>
    <url-pattern>/servlet/UpdateRegisterServlet</url-pattern>
  </servlet-mapping>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
</web-app>
