body {
	font-family: "ו";
	font-size: 12px;
	color: #555555;
}

a {
	color: #555555;
	text-decoration: none;
}

a:hover {
	color: #F93;
}

* {
	margin: 0;
	padding: 0;
	list-style: none;
}

.main_1 {
	background-color: #ffffff;
	border: 2px solid red;
	width: 985px;
	margin: 0 auto;
	margin-left: auto;
	margin-right: auto;
}

.top {
	float: left;
	_display: inline;
	width: 985px;
	/*margin-left:17px;*/
	background-image: url(../images/title_1.jpg);
	background-repeat: no-repeat;
}

.nav {
	margin-top: 164px;
	float: left;
	_display: inline;
	width: 985px;
}

.nav li {
	list-style: none;
	float: left;
	_display: inline;
}

.nav li a {
	display: block;
	width: 80px;
	height: 31px;
	background-image: url(../images/sub1_03.jpg);
	background-repeat: no-repeat;
	line-height: 31px;
	font-size: 12px;
	color: #ffffff;
	text-align: center;
	margin: 0px 2px 0 0;
}

.nav li a:hover {
	color: #FFF;
	background-image: url(../images/sub1_05.jpg);
}

.gonggao {
	width: 949px;
	height: 30px;
	background-image: url(../images/949_08.png);
	float: left;
	_display: inline;
	background-color:#FBFBFF;
}

.mid {
	width: 985px;
}

.left {
	float: left;
	_display: inline;
	width: 241px;
	margin: 10px 0 0 15px;
}

.logo {
	width: 241px;
	height: 122px;
	background-image: url(../images/index_03.jpg);
}

.login,.logindegail {
	width: 223px;
	height: 210px;
	background-image: url(../images/index_05.jpg);
	background-repeat: no-repeat;
	background-position: -17px 0;
	margin-left: 16px;
	border-left: 1px solid #999;
	border-right: 1px solid #999;
}

.logindegail {
	background-image: none;
	height: 156px;
	border-bottom: 1px solid #999;
}

.xuesheng {
	width: 241px;
	height: 128px;
	background-image: url(../images/index_21.jpg);
}

.tablea a {
	color: #FFF;
}

.tablea a:hover {
	color: #F60;
}

.qiye {
	width: 241px;
	height: 122px;
	background-image: url(../images/index_22.jpg);
}

.jiange {
	width: 223px;
	height: 15px;
	margin-left: 16px;
	border-left: 1px solid #999;
	border-right: 1px solid #999;
}

.contact {
	width: 225px;
	height: 98px;
	margin-left: 16px;
}

.friend {
	width: 225px;
	height: 96px;
	margin-left: 16px;
}

.tongji {
	width: 223px;
	height: 160px;
	margin-left: 16px;
	border: 1px solid #999;
	border-top: none;
}

.rightdiv {
	width: 700px;
	height: auto;
	margin: 0 auto;
	background-color: #FFF;
	float: left;
	margin-top: 10px;
	margin-left: 16px;
}

.xinxi {
	width: 701px;
	float: left;
	margin-top: 6px;
	_display: inline;
	_margin-top: 2px;
}

.xinxi_top {
	width: 701px;
	height: 34px;
	background-image: url(../images/zhaopinxinxi.png);
}

.xinxi_bottom {
	width: 699px;
	padding-bottom: 4px;
	border: 1px solid #999;
	border-top: none;
}

.xinxi_bottom ul,.sub_bottom ul {
	padding-top: 12px;
}

.xinxi_bottom ul li,.sub_bottom ul li {
	background-image: url(../images/cicle.gif);
	background-repeat: no-repeat;
	background-position: 0 4px;
	border-bottom: 1px dotted #bbbbbb;
	padding: 0 0 2px 15px;
	margin: 0px 18px 14px 18px;
	_margin-bottom: 14px;
}

.zhaopinhuixinxi {
	width: 701px;
	float: left;
	margin-top: 6px;
	_display: inline;
	_margin-top: 2px;
}

.zhaopinhuixinxi_top {
	width: 701px;
	background-image: url(../images/zhaopinhuixinxi.png);
}

.zhaopinhuixinxi_bottom {
	width: 699px;
	padding-bottom: 4px;
	border: 1px solid #999;
	border-top: none;
}

.zhaopinhuixinxi_bottom ul,.sub_bottom ul {
	padding-top: 12px;
}

.zhaopinhuixinxi_bottom ul li,.sub_bottom ul li {
	background-image: url(../images/cicle.gif);
	background-repeat: no-repeat;
	background-position: 0 4px;
	border-bottom: 1px dotted #bbbbbb;
	padding: 0 0 2px 15px;
	margin: 0px 18px 14px 18px;
	_margin-bottom: 14px;
}

.jianli {
	width: 346px;
	float: left;
	margin-top: 6px;
	_display: inline;
}

.jianli_top {
	width: 346px;
	height: 34px;
	background-image: url(../images/index_23.png);
}

.jianli_bottom {
	width: 344px;
	padding-bottom: 8px;
	border: 1px solid #999;
	border-top: none;
}

.jianli_bottom ul {
	padding-top: 5px;
}

.jianli_bottom ul li {
	background-image: url(../images/cicle.gif);
	background-repeat: no-repeat;
	background-position: 0 4px;
	border-bottom: 1px dotted #bbbbbb;
	padding: 0 0 2px 15px;
	margin: 13px 18px 0px 18px font-size:9px;
}

.zhengce,.jiqiao,.liucheng {
	margin-top: 6px;
	float: left;
	_display: inline;
	width: 346px;
}

.zhengce,.jiqiao {
	margin-left: 8px;
}

.zhengce_top {
	width: 346px;
	height: 34px;
	background-image: url(../images/index_25.png);
}

.liucheng_top {
	width: 346px;
	height: 34px;
	background-image: url(../images/index_32.png);
}

.jiqiao_top {
	width: 346px;
	height: 34px;
	background-image: url(../images/index_33.png);
}

.copyright {
	width: 985px;
	height: 140px;
	clear: left;
	margin: 5px 0 0 0;
	background-image: url(../images/index_37.jpg);
	background-repeat: no-repeat;
	background-position: 40px 35px;
}

.copyright p {
	padding: 40px 20px 0 290px;
	line-height: 22px;
}

.sub {
	width: 701px;
	float: left;
	_display: inline;
	margin-top: 6px;
}

.sub_top {
	width: 701px;
	height: 47px;
}

.sub_bottom,.sub_ul {
	width: 699px;
	border: 1px solid #999;
	border-top: none;
}

.sub_ul p {
	border-bottom: 1px solid #666;
	padding: 0px 10px 8px 5px;
	font-size: 16px;
	font-weight: bold;
	margin: 30px 80px 0 20px;
}

.sub_ul h4 {
	font-weight: normal;
	font-size: 12px;
	margin: 10px 80px 10px 20px;
	line-height: 28px;
}

.sub_auto {
	width: 699px;
	border: 1px solid #999;
	border-top: none;
}

.sub_bottom ul {
	padding-top: 26px;
}

.sub_bottom ul li {
	padding: 0 0 5px 15px;
	margin: 0px 22px 20px 20px;
}

.sub_bottom_1 {
	width: 680px;
}

.fenye {
	text-align: center;
	padding: 15px;
}

.content {
	width: 701px;
	float: left;
	_display: inline;
	margin: 8px 0 0 0px;
}

.content_top {
	width: 701px;
	height: 49px;
	background-image: url(../images/detail_03.jpg);
}

.content_bottom {
	width: 699px;
	height: auto;
	border: 1px solid #999;
	border-top: none;
	overflow: hidden;
}

.biao {
	padding: 10px 0;
	text-align: center;
	font-size: 16px;
	font-weight: bold;
	border-bottom: 1px solid #999;
	margin: 0 20px;
}

.divp {
	padding: 20px 10px 30px 10px;
}

.divp p {
	margin: 0px;
	padding: 0px;
	line-height: 2.4em;
}

.zhuanye1 {
	float: left;
	_display: inline;
	width: 260px;
}
